.App {
  text-align: center;
  display:grid;
  grid-template-rows: 50px 1fr 40px;
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
 background-color: #202329;

}
nav > a:hover{
  text-decoration: underline !important;
  cursor: pointer;
}
main{
 background-color: #ffffff;
 padding: 20;
}

footer {
 font-family: Quicksand;
 background-color: #eee;
 display:flex;
 justify-content: center;
 align-items: center;
 color: grey;
}