@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

header {
  max-height: 100px;
}

input:focus {
  outline: none !important;
}

.list-title {
  margin: 10px 0;
  font-family: Quicksand;
  font-size: 1.7em;
  color: grey;
}
/* 
.locations-form {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-gap: 2vw;
  width: 80vw;
  margin: 5vh auto;
  justify-content: center;
}

@media (max-width: 798px){
  .locations-form {
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-gap: 2vw;
    margin: 2vh auto;
    width: 70vw;
  }
}

@media (max-width: 480px){
  .locations-form {
    grid-template-columns: 1fr;
    width: 60vw;
  }
} */